$canvas-width: 500px;
$canvas-height: 500px;
$cabvas-bg: map-get($map: $color, $key: "white");
$cell-border: 1px solid rgba($color: #aaa, $alpha: 0.1);

.canvas {
  display: grid;
  width: $canvas-width;
  height: $canvas-height;
  background-color: $cabvas-bg;

  &__cell {
    border: $cell-border;
  }
}