$app-padding: 50px 0;
$app-bg: map-get($map: $color, $key: "light");
$items-gap: 35px;
$app-gap: 50px;

.app {
  flex-grow: 1;
  padding: $app-padding;
  background-color: $app-bg;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $items-gap;
  }
}